@import "themeVariables/colors";
@import "themeVariables/buttons";
@import "themeVariables/fonts";

/*
@mixin is_color_primary {
    background-color: $is_color_primary !important;
}

@mixin is_color_success {
    background-color: $is_color_success !important;
}

@mixin is_color_warning {
    background-color: $is_color_warning !important;
}


.is_color_primary {
    @include is_color_primary();
}

.is_color_success {
    @include is_color_success();
}
.is_color_warning {
    @include is_color_warning();
}
*/