$main_color: #9d230e; //主題顏色
$sub_color: #38352f; //次要顏色 輔助主色 明亮一致
$border_color: #dcdcdc; //
$contrast_color: #ececec; //對比色 建議與主題次要對比強烈
$base_background_color: #c0bcae ; //主基底色
$sub_background_color: #d2d0c6;  //次要基底色
$is_color_primary: #0e64ab;
$is_color_success: #2dab0e;
$is_color_warning: #e6be0e;
